<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome </h1>
    <h1>python programing</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex velit, vitae
      ut ad saepe quisquam accusantium unde excepturi obcaecati perspiciatis
      quos est corrupti adipisci asperiores quibusdam animi quae maxime
      corporis. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Possimus, praesentium est? Voluptatum laboriosam itaque distinctio, labore
      optio, deserunt nemo nam, laborum eveniet quia voluptatibus. Odio quia
      reprehenderit delectus perferendis impedit! Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Ipsam repellat vel officia veritatis
      adipisci fugiat consectetur recusandae corporis earum suscipit ex mollitia
      distinctio sunt ea expedita asperiores, voluptatibus natus officiis? Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Quo soluta tenetur,
      ducimus enim, quia vero, illo tempora officiis nisi deleniti totam
      doloremque veniam. Error officia iusto at molestias, qui perferendis.

    </p>
    <a href="/newpage/">newpage</a>
  </body>
</html>
